.packs-menu h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
}

.packs-list {
  display: grid;
  gap: var(--fs-400);
}

.search {
  display: flex;
  gap: var(--fs-400);
}

.search-bar {
  width: 100%;
}
